$database-dump-border-color: #000000;
$database-dump-upload-button-bg-color: #407f40;
$database-dump-upload-button-border-color: $database-dump-upload-button-bg-color;
$database-dump-dump-button-bg-color: #4040bf;
$database-dump-age-border-color: $database-dump-upload-button-bg-color;
$database-dump-age-bg-color-0: #007f00;
$database-dump-age-bg-color-1: #0000ff;
$database-dump-age-bg-color-2: #ff7000;
$database-dump-age-bg-color-3: #ff0000;
$database-dump-delete-button-bg-color: #ff0000;
$database-dump-apply-button-bg-color: #3f7faf;
$database-dump-download-button-bg-color: #ff6f00;

$database-dump-upload-button-fg-color: #fff;
$database-dump-dump-button-fg-color: #fff;
$database-dump-delete-button-fg-color: #fff;
$database-dump-apply-button-fg-color: #fff;
$database-dump-download-button-fg-color: #000;
$database-dump-error-fg-color: #7f0000;
$database-dump-ok-fg-color: #005f00;

$database-dump-actions-button-width: 21px;
$database-dump-actions-button-height: 21px;
$database-dump-button-height: 48px;
$database-dump-button-radius: 5px;
$database-dump-age-width: 16px;
$database-dump-age-height: $database-dump-age-width;
$database-dump-age-border-radius: calc((#{$database-dump-age-height} + #{$database-dump-age-height}) / 2);