@import '../commons/variables';

.database-dump {
  font-family: "Bitstream Vera Sans", sans-serif;
  font-size: 1rem;

  .data-list {
    margin-top: 40px;
  }

  .data-head {
    .row {
      margin: 0;
    }
  }

  .data-title {
    border-bottom: 1px solid $database-dump-border-color;
    margin-bottom: 1rem;
    padding-bottom: 1rem;

    h1 {
      font-size: 2rem;
      font-weight: 700;
      letter-spacing: .2rem;
      text-transform: capitalize;
    }
  }

  .data-number {
    border: 1px solid $database-dump-upload-button-border-color;
    border-bottom-left-radius: $database-dump-button-radius;
    border-top-left-radius: $database-dump-button-radius;
    height: $database-dump-button-height;
    width: calc(#{$database-dump-button-height} * 2);

    p {
      font-size: 1.5rem;
      font-weight: 700;
      margin: 0;
    }
  }

  .button {
    border-bottom-right-radius: $database-dump-button-radius;
    border-top-right-radius: $database-dump-button-radius;
    height: $database-dump-button-height;
    width: $database-dump-button-height;
    cursor: pointer;
  }

  .data-upload {
    background-color: $database-dump-upload-button-bg-color;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    color: $database-dump-upload-button-fg-color;
  }

  .data-dump {
    background-color: $database-dump-dump-button-bg-color;
    color: $database-dump-dump-button-fg-color;
  }

  .dump-age {
    border: 1px solid $database-dump-age-border-color;
    border-radius: $database-dump-age-border-radius;
    height: $database-dump-age-width;
    width: $database-dump-age-height;

    &.dump-age-0 {
      background-color: $database-dump-age-bg-color-0;
    }

    &.dump-age-1 {
      background-color: $database-dump-age-bg-color-1;
    }

    &.dump-age-2 {
      background-color: $database-dump-age-bg-color-2;
    }

    &.dump-age-3 {
      background-color: $database-dump-age-bg-color-3;
    }
  }

  .table-cell {
    font-size: 12px;

    &.id-cell {
      max-width: calc(#{$database-dump-age-width} + 8);
      width: calc(#{$database-dump-age-width} + 8);
    }

    &.cell-right {
      padding-left: 0;
      padding-right: 1rem;
      text-align: right;
    }

    &.cell-left {
      padding-left: 1rem;
      padding-right: 0;
      text-align: right;
    }
  }

  .table-button {
    .button {
      border-radius: 2px;
      cursor: pointer;
      height: $database-dump-actions-button-height;
      margin-left: 2px;
      width: $database-dump-actions-button-width;
      font-size: 0.7rem;

      &.delete {
        background-color: $database-dump-delete-button-bg-color;
        color: $database-dump-delete-button-fg-color;
      }

      &.restore {
        background-color: $database-dump-apply-button-bg-color;
        color: $database-dump-apply-button-fg-color;
      }

      &.download {
        background-color: $database-dump-download-button-bg-color;
        a {
          color: $database-dump-download-button-fg-color;
        }
      }
    }
  }

  .dump-error {
    color: $database-dump-error-fg-color;
  }

  .dump-ok {
    color: $database-dump-ok-fg-color;
  }

  .error-message {
    font-size: 0.9rem;
    font-weight: bold;
  }

  .error-error {
    font-size: 0.8rem;
    color: $database-dump-error-fg-color;

  }
}
