{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/flagstonedatabasedump/build/fs_database_dump_css.css') }}" type="text/css">
{% endblock %}
<div class="container database-dump list">
    <div class="data-list">
        <div class="data-head">
            <div class="data-title row justify-content-between">
                <div class="d-flex justify-content-start align-items-center h-100">
                    <h1>{{ 'database-dump.list.title'|trans({}, 'dump-database') }}</h1>
                </div>
                <div class="data-count row justify-content-end">
                    <div class="data-number">
                        <div class="row justify-content-center align-items-center w-100 h-100">
                            <p>{{ dumps|length }}</p>
                        </div>
                    </div>
                    <div class="button data-upload"
                         data-upload_url="{{ path('fs_database_upload_make') }}"
                         data-title_upload_in_progress="{{ 'database-dump.upload.title_progress'|trans({}, 'dump-database') }}"
                         data-text_upload_in_progress="{{ 'database-dump.upload.text_progress'|trans({}, 'dump-database') }}"
                         data-titlemade="{{ 'database-dump.upload.title_made'|trans({}, 'dump-database') }}"
                         data-textmade="{{ 'database-dump.upload.text_made'|trans({}, 'dump-database') }}"
                         data-titleerror="{{ 'database-dump.upload.title_error'|trans({}, 'dump-database') }}"
                    >
                        <div class="d-flex justify-content-center align-items-center h-100">
                            <i class="fas fa-upload"></i>
                        </div>
                    </div>
                    <div
                            class="button data-dump"
                            data-title_dump_in_progress="{{ 'database-dump.dump.make_in_progress_title'|trans({}, 'dump-database') }}"
                            data-text_dump_in_progress="{{ 'database-dump.dump.make_in_progress_text'|trans({}, 'dump-database') }}"
                            data-title_dump_ok="{{ 'database-dump.dump.make_ok_title'|trans({}, 'dump-database') }}"
                            data-text_dump_ok="{{ 'database-dump.dump.make_ok_text'|trans({}, 'dump-database') }}"
                            data-title_dump_error="{{ 'database-dump.dump.make_error_title'|trans({}, 'dump-database') }}"
                            data-make_url="{{ path('fs_database_dump_make') }}"
                    >
                        <div class="d-flex justify-content-center align-items-center h-100">
                            <i class="fas fa-bolt"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if is_granted('ROLE_ADMIN') %}
            {% if (dumps|length == 0) %}
                <div class="table-outline w-100">
                    <div class="data-empty">
                        {{ 'database-dump.dump.nodata'|trans({}, 'dump-database') }}
                    </div>
                </div>
            {% else %}
                <table class="table table-striped table-sm w-100">
                    <thead>
                    <th class="table-cell id-cell">
                    </th>
                    <th class="table-cell">
                        {{ 'database-dump.list.filename'|trans({}, 'dump-database') }}
                    </th>
                    <th class="table-cell">
                        {{ 'database-dump.list.filedate'|trans({}, 'dump-database') }}
                    </th>
                    <th class="table-cell">
                        {{ 'database-dump.list.migration_date'|trans({}, 'dump-database') }}
                    </th>
                    <th class="table-cell">
                        {{ 'database-dump.list.filesize'|trans({}, 'dump-database') }}
                    </th>
                    <th class="table-cell cell-center">
                        {{ 'database-dump.list.actions'|trans({}, 'dump-database') }}
                    </th>
                    </thead>
                    <tbody>
                    {# @var SplFileInfo record #}
                    {% for record in dumps %}
                        {# Create void attribute for getMethodDate that return a variable passed by reference #}
                        {% set void = '' %}
                        <tr>
                            <td class="table-cell id_cell cell-center">
                                <div class="d-flex justify-content-center w-100">
                                    <div class="dump-age dump-age-{{ getAge(record.filename) }}"></div>
                                </div>
                            </td>
                            <td class="table-cell">
                                {{ record.filename }}
                            </td>
                            <td class="table-cell">
                                {{ getCreationDate(record.filename)|localizeddate('full', 'medium', app.request.locale) }}
                            </td>
                            <td class="table-cell">
                                {{ getMigrationDate(record.filename)|localizeddate('full', 'medium', app.request.locale) }}
                            </td>
                            <td class="table-cell cell-right">
                                {{ record.size|localizednumber }}
                            </td>
                            <td class="table-button">
                                <div class="d-flex justify-content-end align-items-center">
                                    <div class="button download d-flex justify-content-center align-items-center">
                                        <a href="{{ path('fs_database_dump_download', {'dump': record.filename|replace({'.tar.gz':  '~tar~gz'})}) }}" target="_self">
                                            <i class="fas fa-download"></i>
                                        </a>
                                    </div>
                                    <div
                                            class="button restore d-flex justify-content-center align-items-center"
                                            data-titleinprogress="{{ 'database-dump.restore.title_progress'|trans({}, 'dump-database') }}"
                                            data-textinprogress="{{ 'database-dump.restore.text_progress'|trans({}, 'dump-database') }}"
                                            data-titlemade="{{ 'database-dump.restore.title_made'|trans({}, 'dump-database') }}"
                                            data-textmade="{{ 'database-dump.restore.text_made'|trans({}, 'dump-database') }}"
                                            data-titleerror="{{ 'database-dump.restore.title_error'|trans({}, 'dump-database') }}"
                                            data-restore_url="{{ path('fs_database_dump_restore', {'dumpFile': record.filename|replace({'.tar.gz':  '~tar~gz'})}) }}"
                                            data-file="{{ record.filename }}"
                                    >
                                        <i class="fas fa-cogs"></i>
                                    </div>
                                    <div
                                            class="button delete d-flex justify-content-center align-items-center"
                                            data-file="{{ record.filename }}"
                                            data-dump="{{ path('fs_database_dump_remove', {'dump': record.filename|replace({'.tar.gz':  '~tar~gz'})}) }}"
                                    >
                                        <i class="fas fa-trash"></i>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        {% endif %}
    </div>
    <div
            class="modal fade"
            id="dumps"
            tabindex="-1"
            role="dialog"
            aria-labelledby="dumpsLabel"
            aria-hidden="true"
            data-locale="{{ app.request.locale }}"
    >
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="dumpsLabel">{{ 'database-dump.dump.make_title'|trans({}, 'dump-database') }}</h5>
                </div>
                <div class="modal-body dump">
                    <p>{{ 'database-dump.dump.make_text'|trans({}, 'dump-database')|raw }}</p>
                </div>
                <div class="modal-footer">
                    <button id="make-dump" type="button" class="btn btn-primary">{{ 'database-dump.dump.make_button_action'|trans({}, 'dump-database') }}</button>
                    <button id="modal-close" type="button" class="btn btn-secondary">{{ 'database-dump.button.close_button_action'|trans({}, 'dump-database') }}</button>
                </div>
            </div>
        </div>
    </div>
    <div
            class="modal fade"
            id="dumpRemove"
            tabindex="-1"
            role="dialog"
            aria-labelledby="removeDumpLabel"
            aria-hidden="true"
    >
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="removeDumpLabel">{{ 'database-dump.remove.title'|trans({}, 'dump-database') }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">x</span>
                    </button>
                </div>
                <div class="modal-body remove">
                    <p>{{ 'database-dump.remove.text'|trans({}, 'dump-database')|raw }}</p>
                </div>
                <div class="modal-footer">
                    <a id="remove-dump-link" href="#">
                        <button id="remove-dump" type="button" class="btn btn-danger">
                            {{ 'database-dump.remove.button_action'|trans({}, 'dump-database') }}
                        </button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'database-dump.button.close_button_action'|trans({}, 'dump-database') }}</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div
            class="modal fade"
            id="dumpRestore"
            tabindex="-1"
            role="dialog"
            aria-labelledby="restoreDumpLabel"
            aria-hidden="true"
    >
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="restoreDumpLabel">{{ 'database-dump.restore.title'|trans({}, 'dump-database') }}</h5>
                </div>
                <div class="modal-body restore">
                    <p>{{ 'database-dump.restore.text'|trans({}, 'dump-database')|raw }}</p>
                </div>
                <div class="modal-footer">
                    <button id="restore-dump" type="button" class="btn btn-danger">{{ 'database-dump.restore.button_action'|trans({}, 'dump-database') }}</button>
                    <button id="modal-restore-close" type="button" class="btn btn-secondary">{{ 'database-dump.button.close_button_action'|trans({}, 'dump-database') }}</button>
                </div>
            </div>
        </div>
    </div>
    <div
            class="modal fade"
            id="dumpUpload"
            tabindex="-1"
            role="dialog"
            aria-labelledby="uploadDump"
            aria-hidden="true"
    >
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="uploadDump">{{ 'database-dump.upload.title'|trans({}, 'dump-database') }}</h5>
                </div>
                <div class="modal-body upload">
                    <p>{{ 'database-dump.upload.text'|trans({}, 'dump-database')|raw }}</p>
                    <div class="custom-file">
                        <form name="uploadForm" id="uploadForm">
                            <input type="file" class="custom-file-input" id="uploadFile" accept=".gz">
                            <label class="custom-file-label" for="uploadFile">Choose file</label>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="upload-dump" type="button" class="btn btn-danger">{{ 'database-dump.upload.button_action'|trans({}, 'dump-database') }}</button>
                    <button id="modal-upload-close" type="button" class="btn btn-secondary">{{ 'database-dump.button.close_button_action'|trans({}, 'dump-database') }}</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/flagstonedatabasedump/build/fs_database_dump_js.js') }}"></script>
{% endblock %}